*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green: #539165;
  --green-hover: #67ac7a;
  --green-active: #468257;
  --blue: #3F497F;
  --blue-hover: #525d9b;
  --blue-active: #343d6d;
  --yellow: #F7C04A;
  --yellow-hover: #D8AA47;
  --yellow-active: #d09c2c;
  --light: #fdfbf1;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
textarea{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
